<header class="header" id="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__icon"></span>
          <span class="logo__text">Zelux<span>Spark</span></span>
      </a>
      <nav class="nav">
          <ul class="nav__list">
              <li><a href="./#hero" class="nav__link">Home</a></li>
              <li><a href="./#about" class="nav__link">About</a></li>
              <li><a href="./#features" class="nav__link">Features</a></li>
              <li><a href="./#innovations" class="nav__link">Innovations</a></li>
              <li><a href="./#blog" class="nav__link">Blog</a></li>
          </ul>
      </nav>
      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Get Started</a>
          <button class="burger" aria-label="Menu">
              <span></span>
          </button>
      </div>
  </div>
</header>

<div class="menu-overlay" id="menuOverlay">
  <div class="menu-overlay__container">
      <nav class="nav-mobile">
          <ul class="nav-mobile__list">
              <li><a href="./#hero" class="nav-mobile__link">Home</a></li>
              <li><a href="./#about" class="nav-mobile__link">About</a></li>
              <li><a href="./#features" class="nav-mobile__link">Features</a></li>
              <li><a href="./#innovations" class="nav-mobile__link">Innovations</a></li>
              <li><a href="./#blog" class="nav-mobile__link">Blog</a></li>
              <li><a href="./#contact" class="nav-mobile__link">Get Started</a></li>
          </ul>
      </nav>
  </div>
</div>